<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container pull-left">
					<nav>
				<a class="navbar-brand pull-left" href="#">
						<li><%= link_to "Home", users_path %></li>
						
						<li><%= link_to "Sign Up", users_new_path %></li>
				</a>
			        </nav>
				</div>
			</div>
</nav>



<h1>Log in</h1>
<% if flash[:notice] %>
	<div class="signflash">
		<%= flash[:notice] %>
	</div>
<% end %>

<%= form_for :session, :url => {:controller => 'sessions', :action => 'login_attempt'}, :html => {:class=> "Forms"} do |f| %>

<p>Username:</br> <%= text_field_tag(:name) %></p>
<p>Password:</br> <%= password_field_tag :login_password %></p></br>
<%= submit_tag("Log In") %>
<% end %>


