<div class="Sign_Form">
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container">
					<nav>
				<a class="navbar-brand" href="#">
						<li><%= link_to "Home", users_path %></li>
						<li><%= link_to "Sign In", sessions_login_path %></li>
						
				</a>
			        </nav>
				</div>
			</div>
</nav>

<h1>Sign Up</h1>
<%= form_for :user, :url => {:controller => 'users', :action => 'create'}, :html => {:class=> "Forms"} do |f| %>
<p> Username:</br> <%= f.text_field :name %> </p>
<p> Password:</br> <%= f.password_field :password%></p>
<p>Password Confirmation:</br> <%= f.password_field :password_confirmation %></p></br>
<%= submit_tag("Sign Up") %>
<% end %>

<% if @user.errors.any? %>
<div class="Signup_Errors">
<% for message_error in @user.errors.full_messages %>
<li><%= message_error %></li></br>
<% end %>
</div>
<% end %>
</div>