<h1> BOOKINGS FOR THE MOVIE <strong><%= @film.name %></strong></h1>
<div class="booking">
<%= form_for :booking do |b| %>
<%= b.label :Enter_the_number_of_seats_you_want %>
<%= b.text_field :seats %>
<%= b.submit %>
<% end %>
<%= @view.id %>

</div>

