
<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container pull-left">
					<nav>
				<a class="navbar-brand pull-left" href="#">
						<li><%= link_to "Home", users_path %></li>
						<li><%= link_to "Log Out", sessions_logout_path %></li>
				</a>
			        </nav>
				</div>
			</div>
</nav>




<div class="movieflash">
	<%= flash[:notice] %>
</div>
<h1> Movie List </h1>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<td><strong>Movie </strong></td>
		<td><strong> Rating </strong></td>
	</tr>
<% @filmdisplay.each do |film| %>
	<tr>
		<td><%= link_to film.name , show_path(film) %></td>
		<td><%= film.rating %></td>
	</tr>
	
<% end %>
</table>

