<nav class="navbar navbar-default navbar-inverse" role="navigation">
			<div class="navbar-header">
				<div class="container pull-left">
					<nav>
				<a class="navbar-brand pull-left" href="#">
						<li><%= link_to "Home", users_path %></li>
						<li><%= link_to "Log Out", sessions_logout_path %></li>
						<li><%= link_to "Back to Movie List", films_path %></li>
				</a>
			        </nav>
				</div>
			</div>
</nav>


<h3> Show Timings for <strong><%= @title.name %> </strong>: </h3>

<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th> Timings </th>
		<th> Vacancies </th>
	</tr>

	<% Show.all.each do |a| %>
	<% if a.film_id==@title.id %>
	<tr>
		<td><%= link_to a.timing, :controller =>"shows", :action => "new", :id => a %></td>
		<td><%= a.vacancies %></td>
	</tr>
<% end %>
<% end %>
</table>

