// Place all the styles related to the films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

td {
   text-align: center;
   }


a:link, a:visited {
	text-decoration: none;
	color: grey;
}


.movieflash {
   color: green;
   font-size: 20px;
   }

.table {
   font-family: 'Ubuntu', sans-serif;
   font-size: 17px;
}
