// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.Sign_form {
	font-family: 'Chewy', cursive;
}


.Forms {
	margin-left: 100px;
	width: 300px;
	font-family: 'Ubuntu', sans-serif;

}