// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select
{
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	color: #480000;
	margin: 50px;
}
