// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

h1  {
	font-family: 'Lobster', cursive;
	font-size: 100px;
	text-align: center;
	font-color: gray;
	}

.center {
	padding: 40px;
	background: #cccccc;
	}

li {
	display: inline;
	padding: 20px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;

}

.Forms {
	margin-left: 100px;
	font-family: 'Ubuntu', sans-serif;

}

.Signup_Errors {
	font-size: 5px;
	color: red;
	padding-top: 50px;
	padding-left: 80px;
}