<div class="select"> BOOKINGS FOR THE MOVIE <strong><%= @film.name %> </strong> for <%= @show.timing %> show </div>
<div class="booking">
<%= form_for :booking, :html => {:class=> "Forms"} do |b| %>
<%= b.label :Enter_the_number_of_seats_you_want %>
<%= b.text_field :seats %></br>
<%= b.hidden_field :film_id %>
<%= b.hidden_field :show_id %>
</br><%= b.submit %>
<% end %>

</div>

